body, html {
  margin: 0;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  text-align:center;
  color: white;
}

#date{
  font-size: 4rem;
}

#time{
  font-size: 9rem;
}
